.display-4{
  margin-bottom:70px;
}
.moreformpadding{
  margin-top: 2%;
}
.btn-primary{
  margin-top:2%;
}
#mrrobogersoutput{
  font-weight:bolder;
  font-size: 64;
  margin-top:5%;
}
.mrrogersred{
  background-color:#ff0000;
  color:white;
}